h1 {
    text-align: center;
    border-bottom: 1px solid gray;
}


#about {
    text-align: center;
    width: 350px;
    margin: 0 auto;
}

ul {
    text-align: left;
}

#about img {
    border-radius: 100%;
    background-color: #eeeeee;
}

#languages-skills {
    text-align: center;
    width: 350px;
    margin: 0 auto;
}

#works {
    width: 350px;
    margin: 0 auto;
}

#links {
    width: 350px;
    margin: 0 auto;
}

i {
    font-size: 30px;
}