#profile img {
    animation: rotate-maguro 10s linear infinite; 
}

@keyframes rotate-maguro {
    0%{
        transform: roteta(0deg);
    }
    50%{
        transform: rotate(-180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}