/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

/* kokokara */

body {
    overflow: hidden;
}

h1 {
    font-size: 60px;
}

#animation1 {
    position: relative;
    margin: 50px;
    width: 100px;
    height: 50px;
    overflow: hidden;
}


#emotional-button {
    text-align: center;
    line-height: 50px;
}

#emotional-button a,
#emotional-button a:hover,
#emotional-button a:visited {
    text-decoration: none;
    color: black;
    display: block;
}

#emotional-button::before,
#emotional-button::after,
#emotional-button a::before,
#emotional-button a::after {
    position: absolute;
    content: "";
    display: block;
}

#emotional-button::before {
    height: 100%;
    left: 0;
    bottom: 100%;
    border-left: royalblue 0.6px solid;
    transition: 1s bottom;
}

#emotional-button::after {
    width: 100%;
    right: 100%;
    bottom: 0;
    border-bottom: royalblue 0.6px solid;
    transition: 1s right;
}

#emotional-button a::before {
    height: 100%;
    right: 0;
    top: 100%;
    border-right: royalblue 0.6px solid;
    transition: 1s top;
}

#emotional-button a::after {
    width: 100%;
    left: 100%;
    top: 0;
    border-top: royalblue 1px solid;
    transition: 1s left;
}

#emotional-button:hover::before {
    bottom: 0%;
}

#emotional-button:hover::after {
    right: 0%;
}

#emotional-button a:hover::before {
    top: 0%;
}

#emotional-button a:hover::after {
    left: 0%;
}

/* animation2 */
#animation2 {
    margin: 10px;
}

#animation2 text:hover {
    stroke-dasharray: 150% 150%;
    stroke-width: 0.5px;
    animation: stroke-anim 4s ease-in;
}

@keyframes stroke-anim {
    0% {
        stroke-dashoffset: 150%;
    }

    100% {
        stroke-dashoffset: 0%;
    }
}

#animation3 {
    margin: 20px;
}

#animation4 div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid;
}